<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114782334-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114782334-1');
    </script>

    <title>{{ blog.title  |raw}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ blog.description |raw}}">
    <meta name="keywords" content="{{ blog.keywords |raw}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="{{asset ('css/bundle.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/hody-icons.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/style.css')}}">
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
                <img class="logo-light" src="/images/logo-light-red.png" alt="">
                <img class="logo-dark" src="/images/logo-dark-red.png" alt="">
              </a>
            </div>
              {{ render(controller('AppBundle:Menu:viewMenu')) }}
          </div>
        </div>
      </nav>
      <section class="page-title parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="/images/vacancy-single-top.jpg" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="single-post-info">
                  <h1>{{ blog.h1 |raw}}</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="post-single">
                <div class="post-body">
                  <h3>{{ blog.postTitle |raw}}</h3>
                  <img {{ blog.singleImage |raw}}
                  <p>{{ blog.postText |raw}}</p>
                  <h4>{{ blog.h4 |raw}}</h4>
                </div>
                {#<div class="post-tags"><a href="#">{{ blog.tags |raw}}</a><a href="#">{{ blog.tags |raw}}</a><a href="#">{{ blog.tags |raw}}</a>#}
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

    {% include 'footer.html.twig' %}
    </div>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <form class="search-form">
              <input class="form-control" type="search" required name="s" placeholder="Search and hit enter" value="">
            </form>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <script type="text/javascript" src="{{asset ('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/bundle.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/jquery.mb.YTPlayer.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/main.js') }}"></script>
  </body>
</html>
