<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114782334-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114782334-1');
    </script>
    <title>{{ page.title|default('Наш vacancy ')  |raw}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description |default(' Description ') |raw}}">
    <meta name="keywords" content="{{ page.keywords |default('Keywords ') |raw}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="{{asset ('css/bundle.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/hody-icons.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/style.css')}}">
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    {#<div id="loader">#}
      {#<div class="centrize">#}
        {#<div class="v-center">#}
          {#<div id="mask">#}
            {#<svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">#}
              {#<path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>#}
            {#</svg>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
                <img class="logo-light" src="/images/logo-light-red.png" alt="">
                <img class="logo-dark" src="/images/logo-dark-red.png" alt="">
              </a>
            </div>
              {{ render(controller('AppBundle:Menu:viewMenu')) }}
          </div>
        </div>
      </nav>
      <section class="page-title parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="/images/vacancy3-red.jpg" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title text-center">
                <h4 class="upper">{{ page.block1 |default('block1 ') |raw}}</h4>
                <h1>{{ page.block2 |default('bkock2 ') |raw}}</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="title text-center">
            <h2>{{ page.block14 |default('Список вакансий ') |raw}}</h2>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <ul class="accordion" data-open-first="true" data-multiple="true">
                    {% for data in pagination %}
                  <li>
                    <div class="accordion-title">
                      <h4>{{ data.vacancyTitle |raw }}</h4>
                    </div>
                    <div class="accordion-content">
                      <div class="job-offer">
                        <div class="job-info">
                          <div class="row">
                            <div class="col-sm-8">
                              <h3>{{ data.vacancyText |raw}}</h3>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="job-content">
                          <p>{{ data.vacancyText |raw}}</p><a class="arrow-link" href="{{ path('app_vacancy_show', { 'id': data.id }) }}">Подробнее</a>
                        </div>
                      </div>
                  </li>
                    {% endfor %}
                  <div class="blog-pagination">
                    <ul class="pagination">
                      <li class="current-page"> {{ knp_pagination_render(pagination) }}</li>
                    </ul>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
        {% include 'footer.html.twig' %}
    </div>
    <script type="text/javascript" src="{{asset ('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/bundle.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/jquery.mb.YTPlayer.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/main.js') }}"></script>
  </body>

</html>