<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114782334-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114782334-1');
    </script>
    <title>{{ page.title|default('404 - Страница не найдена ') |raw}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description|default('description') |raw}}">
    <meta name="keywords" content="{{ page.keywords|default('keywords') |raw}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet"  href="{{asset('bundles/app/css/bundle.css')}}">
    <link rel="stylesheet"  href="{{asset('bundles/app/css/hody-icons.css')}}">
    <link rel="stylesheet"  href="{{asset('bundles/app/css/style.css')}}">
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    {#<div id="loader">#}
      {#<div class="centrize">#}
        {#<div class="v-center">#}
          {#<div id="mask">#}
            {#<svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">#}
              {#<path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>#}
            {#</svg>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
                <img class="logo-light" src="/images/logo-light-red.png" alt="">
                <img class="logo-dark" src="/images/logo-dark-red.png" alt="">
              </a>
            </div>
              {{ render(controller('AppBundle:Menu:viewMenu')) }}
          </div>
        </div>
      </nav>
      <section class="height-100 dark-bg">
        <div id="particle-canvas" data-dot-color="#00c3da" data-line-color="#2f2f2f"></div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="error-page">
                <div class="title">
                  <h1 class="colored-text">404</h1>
                  <h2>Такой страници нет в наличии</h2>
                  <h4>Мы не можем найти страницу которую вы ищете.</h4>
                </div><a class="btn btn-color" href="/">Вернутся на главную</a>
              </div>
            </div>
          </div>
        </div>
      </section>
        {% include 'footer.html.twig' %}
    </div>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <form class="search-form">
              <input class="form-control" type="search" required name="s" placeholder="Search and hit enter" value="">
            </form>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <script  src="{{asset ('bundles/app/js/jquery.js') }}"></script>
    <script  src="{{asset ('bundles/app/js/bundle.js') }}"></script>
    <script  src="{{asset ('bundles/app/js/SmoothScroll.js') }}"></script>
    <script  src="{{asset ('bundles/app/js/jquery.mb.YTPlayer.js') }}"></script>
    <script  src="{{asset ('bundles/app/js/main.js') }}"></script>
  </body>

</html>