<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114782334-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114782334-1');
    </script>
    <title>{{ page.title |raw}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description |raw}}">
    <meta name="keywords" content="{{ page.keywords |raw}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="{{asset ('css/bundle.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/hody-icons.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/style.css')}}">
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    {#<div id="loader">#}
      {#<div class="centrize">#}
        {#<div class="v-center">#}
          {#<div id="mask">#}
            {#<svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">#}
              {#<path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>#}
            {#</svg>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
                <img class="logo-light" src="/images/logo-light-red.png" alt="">
                <img class="logo-dark" src="/images/logo-dark-red.png" alt="">
              </a>
            </div>
              {{ render(controller('AppBundle:Menu:viewMenu')) }}
          </div>
        </div>
      </nav>
      <section class="page-title parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="/images/contacts-red.jpg" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title text-center">
                <h4 class="upper">{{ page.block1 |raw}}</h4>
                <h1>{{ page.block2 |raw}}</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-0">
        <div class="container-fluid">
          <div class="row row-flex">
            <div class="col-sm-4">
              <div class="column-inner with-padding">
                <div class="icon-box align-center"><i class="hc-pin"></i>
                  <div class="ib-content">
                    <h3>{{ page.block3 |raw}}</h3>
                    <p>{{ page.block4 |raw}}
                      <br>{{ page.block5 |raw}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="column-inner with-padding grey-bg">
                <div class="icon-box align-center"><i class="hc-mail-open"></i>
                  <div class="ib-content">
                    <h3>{{ page.block6 |raw}}</h3>
                    <p>{{ page.block7 |raw}}
                      <br>{{ page.block8 |raw}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="column-inner with-padding dark-bg">
                <div class="icon-box align-center"><i class="hc-megaphone"></i>
                  <div class="ib-content">
                    <h3>{{ page.block9 |raw}}</h3>
                    <p>{{ page.block10 |raw}}
                      <br>{{ page.block11 |raw}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 map-side map-right">
              <div id="map">
              <img src="/images/contact-red.jpg">
              </div>
              {#<div id="map" data-lat="40.773328" data-long="-73.960088"></div>#}
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-sm-5">
            {#<div class="title">#}
              {#<h2 data-bigletter="К">Контакты</h2>#}
              {#<h4>Let's work together.</h4>#}
            {#</div>#}
            <div class="row pt-25 pb-25">
              {#<div class="container-fluid">#}
                {#<form id="contact-form" action="/mail.php" method="POST">#}
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfayoZE3zGMXnRVYNHuJZN59e8m6V-45CGI5LzdlmCi9Kq6sQ/viewform?embedded=true" width="960" height="980" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>


                    {#<div class="form-group" data-animation="fadeInRight">#}

                    {#<label>Your Name</label>#}
                    {#<input class="form-control" type="text" name="name" data-required>#}
                  {#</div>#}
                  {#<div class="form-group" data-animation="fadeInRight">#}
                    {#<label>Your Email</label>#}
                    {#<input class="form-control" type="email" name="email" data-required>#}
                  {#</div>#}
                  {#<div class="form-group" data-animation="fadeInRight">#}
                    {#<label>Phone Number</label>#}
                    {#<input class="form-control" type="text" name="phone">#}
                  {#</div>#}
                  {#<div class="form-group" data-animation="fadeInRight">#}
                    {#<label>Your Message</label>#}
                    {#<textarea class="form-control" name="message" data-required></textarea>#}
                  {#</div>#}
                  {#<div class="form-group mt-25" data-animation="fadeInRight">#}
                    {#<button class="btn btn-color" type="submit">Send Message</button>#}
                  {#</div>#}
                {#</form>#}
              {#</div>#}
            </div>
          </div>
        </div>
      </section>
        {% include 'footer.html.twig' %}
    </div>
    <script type="text/javascript" src="{{asset ('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/bundle.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/jquery.mb.YTPlayer.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/main.js') }}"></script>
  </body>

</html>