<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title |raw}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description |raw}}">
    <meta name="keywords" content="{{ page.keywords |raw}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="{{asset ('css/bundle.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/hody-icons.css')}} ">
    <link rel="stylesheet" href="{{asset ('css/style.css')}}">
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
              <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="index.html">
                <img class="logo-light" src="/images/logo-light-red.png" alt="">
                <img class="logo-dark" src="/images/logo-dark-red.png" alt="">
              </a>
            </div>
            <div class="menu-extras">
              <div class="menu-item">
                <div class="open-search-form">
                  <a href="#">
                    <i class="hc-search"></i>
                  </a>
                </div>
              </div>
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
              {{ render(controller('AppBundle:Menu:_upcomingEvents')) }}
              {#<div id="navigation">#}
              {#<ul class="navigation-menu nav">#}
                {#<li class="menu-item-has-children has-megamenu">#}
                  {#<a href="#">Главная</a>#}
                {#</li>#}
                {#<li class="menu-item-has-children">#}
                  {#<a href="#">Услуги</a>#}
                {#</li>#}
                {#<li class="menu-item-has-children"><a href="#">Стартапам</a>#}
                {#</li>#}
                {#<li class="menu-item-has-children"><a class="menu-label" href="#">Вакансии</a>#}
                  {#<ul class="submenu">#}
                    {#<li>#}
                      {#<a href="#">PHP</a>#}
                    {#</li>#}
                    {#<li>#}
                      {#<a href="#">Java</a>#}
                    {#</li>#}
                  {#</ul>#}
                {#</li>#}
                {#<li class="menu-item-has-children has-megamenu">#}
                  {#<a href="#">Контакты</a>#}
                {#</li>#}
              {#</ul>#}
            {#</div>#}
          </div>
        </div>
      </nav>
      <section class="page-title parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="/images/bg-image-46.jpg" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title text-center">
                <h1>{{ page.block1 |raw}}</h1>
                <h4>{{ page.block2 |raw}}</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="grey-bg">
        <div class="posts-row">
          <div class="container">
            <div class="blog-articles">
              <article class="side-post" data-animation="fadeInUp">
                <div class="side-post-image">
                  <div class="post-category"><a href="#">Lifestyle</a>
                  </div>
                  <a href="#">
                    <figure>
                      <img class="thumb-placeholder" src="/images/blog-1.jpg" alt="">
                    </figure>
                  </a>
                </div>
                <div class="side-post-content">
                  <div class="post-content-wrapper">
                    {#<div class="post-info">#}
                      {#<h6><span><i class="hc-clock"></i>Posted on</span><span class="post-time">March 23, 2017</span><span>in <a href="#">Lifestyle</a></span></h6>#}
                    {#</div>#}
                    <div class="post-title">
                      <h3><a href="#">{{ page.block3 |raw}}</a></h3>
                    </div>
                    <div class="post-body">
                      <p>{{ page.block4 |raw}}</p>
                    </div>
                    {#<div class="post-author">#}
                      {#<img src="images/testimonial-2.jpg" alt=""><a href="#">by Mike Ross</a>#}
                    {#</div>#}
                  </div>
                </div>
              </article>
              <article class="side-post image-right" data-animation="fadeInUp">
                <div class="side-post-image">
                  <div class="post-category"><a href="#" data-custom-bg="#f42841">Tech</a>
                  </div>
                  <a href="#">
                    <figure>
                      <img class="thumb-placeholder" src="/images/blog-2.jpg" alt="">
                    </figure>
                  </a>
                </div>
                <div class="side-post-content">
                  <div class="post-content-wrapper">
                    {#<div class="post-info">#}
                      {#<h6><span><i class="hc-clock"></i>Posted on</span><span class="post-time">March 17, 2017</span><span>in <a href="#">Tech</a></span></h6>#}
                    {#</div>#}
                    <div class="post-title">
                      <h3><a href="#">{{ page.block5 |raw}}</a></h3>
                    </div>
                    <div class="post-body">
                      <p>{{ page.block6 |raw}}</p>
                    </div>
                    {#<div class="post-author">#}
                      {#<img src="images/testimonial-1.jpg" alt=""><a href="#">by Jessica Jones</a>#}
                    {#</div>#}
                  </div>
                </div>
              </article>
              <article class="side-post" data-animation="fadeInUp">
                <div class="side-post-image">
                  <div class="post-category"><a href="#" data-custom-bg="#00c077">Science</a>
                  </div>
                  <a href="#">
                    <figure>
                      <img class="thumb-placeholder" src="/images/blog-3.jpg" alt="">
                    </figure>
                  </a>
                </div>
                <div class="side-post-content">
                  <div class="post-content-wrapper">
                    {#<div class="post-info">#}
                      {#<h6><span><i class="hc-clock"></i>Posted on</span><span class="post-time">March 12, 2017</span><span>in <a href="#">Science</a></span></h6>#}
                    {#</div>#}
                    <div class="post-title">
                      <h3><a href="#">{{ page.block7 |raw}}</a></h3>
                    </div>
                    <div class="post-body">
                      <p>{{ page.block8 |raw}}</p>
                    </div>
                    {#<div class="post-author">#}
                      {#<img src="images/testimonial-2.jpg" alt=""><a href="#">by Mike Ross</a>#}
                    {#</div>#}
                  </div>
                </div>
              </article>
              <article class="side-post image-right" data-animation="fadeInUp">
                <div class="side-post-image">
                  <div class="post-category"><a href="#" data-custom-bg="#ffbb44">Innovation</a>
                  </div>
                  <a href="#">
                    <figure>
                      <img class="thumb-placeholder" src="/images/blog-4.jpg" alt="">
                    </figure>
                  </a>
                </div>
                <div class="side-post-content">
                  <div class="post-content-wrapper">
                    {#<div class="post-info">#}
                      {#<h6><span><i class="hc-clock"></i>Posted on</span><span class="post-time">March 9, 2017</span><span>in <a href="#">Innovation</a></span></h6>#}
                    {#</div>#}
                    <div class="post-title">
                      <h3><a href="#">{{ page.block9 |raw}}</a></h3>
                    </div>
                    <div class="post-body">
                      <p>{{ page.block10 |raw}}</p>
                    </div>
                    {#<div class="post-author">#}
                      {#<img src="images/testimonial-1.jpg" alt=""><a href="#">by Jessica Jones</a>#}
                    {#</div>#}
                  </div>
                </div>
              </article>
            </div>
            <div class="blog-pagination">
              <ul class="pagination">
                <li><span class="current-page">1</span>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a class="next-page" href="#"><i class="hc-arrow-round-forward"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
        {% include 'footer.html.twig' %}
    </div>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <form class="search-form">
              <input class="form-control" type="search" required name="s" placeholder="Search and hit enter" value="">
            </form>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <script type="text/javascript" src="{{asset ('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/bundle.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/jquery.mb.YTPlayer.js') }}"></script>
    <script type="text/javascript" src="{{asset ('js/main.js') }}"></script>
  </body>

</html>